/*
	Demo styles
*/
@import "lib/demo-base.less";
@import "lib/elements.less";
@import "src/token-editor.less";

@color: #7E57C2;
@color-highlight: #B388FF;

header {
	
	.token-editor {
		background: transparent;
		
		&:hover,
	    &:focus,
	    &[contenteditable=true] {
	        border-color: @color-highlight;
	    }
	}
}
